.title{
    margin-top: 5rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}

.firstTitle{
    margin-top: 2rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}