.itemDetail{
    margin: 1rem auto;
    max-width: 100rem;
    width: 95%;
    padding: 3rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    height: auto;
}

.imageDiv{
    padding: 3rem ;
    text-align: center;
}

.inStock{
    color: green;
    font-style: italic;
}

.outOfStock{
    color: red;
    font-style: italic;
}

 .image{
    max-width: 25rem;
    max-height: 25rem;

} 

.detailsDiv{
    text-align: center;
    
}


.mainDiv{
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.star{
    color: gold;
    font-size: 23px;
}

.buyNowLink{
    list-style: none;
    text-decoration: none;
   
}

.loaderDiv{
    text-align: center;
}

.addToCartButton{
    background-color: rgb(35, 35, 112);
    color: white;
    margin-right: 1rem;
}

.buyNowButton{
    background-color: rgb(32, 100, 131);
    color: white;
    border-color: rgb(32, 100, 131);
}

.buyNowButton:hover{
    background-color:rgb(241, 219, 93) ;
    color: black;
    border-color: rgb(133, 113, 2);
}
.addToCartButton:hover{
    background-color:#d33182 ;
}