.updatePasswordPage {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 3rem;
    background: url("../../resources/bg5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .generateDiv{
      text-align: center;
      margin:3rem auto;
      font-weight: bold;
  }

  .formDiv{
      width: 40rem;
      height: auto;
      margin: 4rem auto;
      background-color: white;
      border: 1px solid white;
      padding: 1rem;
      border-radius: 15px;
      box-shadow: 0 20px 8px rgba(0, 0, 0, 0.26);
  }

  .inputDiv{
    text-align: center;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input{
    height: 2rem;
}

.actions{
   text-align: center;
   padding: 1rem;
}

.submit{
    margin-right: 2rem;
    color: white;
    background-color: gray;
    border-color: gray;
}

.submit:hover{
    background-color: rgb(185, 179, 179);
    border-color: gray;
}

.cancel{
    background-color: rgb(236, 138, 138);
    color: white;
    border-color: rgb(236, 138, 138); 
}

.cancel:hover{
    background-color: rgb(241, 168, 168);
    border-color: rgb(236, 138, 138); 
}

.error{
    color: red;
    margin: 1rem;
    text-align: center;
}

.success{
    color: green;
    margin: 1rem;
    text-align: center;
}

.isUpdating{
    color: blue;
    text-align: center;
    margin: 1rem;
}

